<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <%- include('partials/links/links') %>
  </head>

  <body>
    <!-- Content Padre Start -->
    <div class="container-fluid position-relative d-flex p-0 padre">
      <%- include('partials/navegacion/sidebar') %>
      <!-- Content Start -->
      <div class="content position-relative">
        <%- include('partials/navegacion/navbar') %> 
        
        <!-- Chart Start -->
        <div class="back-minedu pt-1">
          <div class="container-fluid pt-0 px-3">
            <div class="row g-4">
                <div class="col-sm-6 col-xl-12 pt-3">
                  <div class="rounded d-flex align-items-center justify-content-between px-4">
                    <h6 class="mb-0 font-title text-dark">Informacion personal</h6>
                  </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class=" rounded h-100 p-4">
                        <h6 class="mb-4 text-dark font-sub-title">DATOS DEL USUARIO</h6>
                        <div class="mb-3">
                          <label for="inputNombre" class="form-label text-dark">NOMBRES:</label>
                          <input type="text" class="form-control pe-none bg-claro-gris" id="nombres"
                              placeholder="............"  >
                        </div>
                        <div class="mb-3">
                          <label for="inputNombre" class="form-label text-dark">APELLIDOS:</label>
                          <input type="text" class="form-control pe-none bg-claro-gris" id="apellidos"
                              placeholder="............"  >
                        </div>
                        <div class="mb-3">
                          <label for="inputNombre" class="form-label text-dark">USUARIO:</label>
                          <input type="text" class="form-control pe-none bg-claro-gris" id="usuario" 
                              placeholder="............"  >
                        </div>
                        <div class="mb-3">
                          <label for="inputNombre" class="form-label text-dark">PERFIL:</label>
                          <input type="text" class="form-control pe-none bg-claro-gris" id="perfil"
                              placeholder="............"  >
                        </div>
                        <div class=" mb-3">
                          <label for="inputNombre" class="form-label text-dark">FECHA DE REGISTRO:</label>
                          <input type="text" class="form-control pe-none bg-claro-gris" id="fecha"
                              placeholder="............"  >
                        </div>
                    </div>
                </div>
  
                <div class="col-sm-12 col-xl-6">
                  <div class="rounded h-100 p-4">
                      <h6 class="mb-4 font-sub-title text-dark">CAMBIAR CONTRASEÑA</h6>
                      <form id="change-password-form">
                          <div class="mb-3">
                            <div class="mb-3">
                              <label for="inputNombre" class="form-label text-dark">CONTRASEÑA ACTUAL:</label>
                              <input type="password" class="form-control bg-claro-gris" id="contraseña_actual"
                                  placeholder="Contraseña actual" value="" >
                            </div>
                            <!-- <div class="form-text">We'll never share your email with anyone else.
                            </div> -->
                          </div>
                          <div class="mb-3">
                            <div class="mb-3">
                              <label for="inputNombre" class="form-label text-dark">NUEVA CONTRASEÑA:</label>
                              <input type="password" class="form-control bg-claro-gris" id="nueva_contraseña"
                                  placeholder="Nueva contraseña" value="" >
                            </div>
                            <!-- <div class="form-text">We'll never share your email with anyone else.
                            </div> -->
                          </div>
                          <div class="mb-3">
                            <div class="mb-3">
                              <label for="inputNombre" class="form-label text-dark">CONFIRMAR CONTRASEÑA:</label>
                              <input type="password" class="form-control bg-claro-gris" id="confirmar_contraseña"
                                  placeholder="Confirmar contraseña" value="" >
                            </div>
                            <!-- <div class="form-text">We'll never share your email with anyone else.
                            </div> -->
                          </div>
                          <button type="submit" class="btn btn-primary">Confirmar</button>
                      </form>
                  </div>
                </div>
  
            </div>
          </div>
          <%- include('partials/footer/footer') %>
        </div>
          <!-- Chart End -->        
      </div>
      <!-- Content End -->
      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
        ><i class="bi bi-arrow-up"></i
      ></a>
      <!-- Back to Top -->
    </div>
    <!-- Content Padre End -->
    <%- include('partials/scripts/scripts') %>
    <script src="/js/perfil.js"></script>
  </body>
</html>
