<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <%- include('partials/links/links') %>
</head>

<body>

    <!-- Content Padre Start -->
    <div class="container-fluid position-relative d-flex p-0 padre">
        <%- include('partials/navegacion/sidebar') %>
            <!-- Content Start -->
            <div class="content position-relative bg-white">
                <%- include('partials/navegacion/navbar') %>

                    <!-- Chart Start -->
        <div class="container-fluid pt-0 px-4 " id="chart">
            <div class="row g-4">
              <div class="text-center rounded p-4">
                <div
                class="d-flex align-items-center justify-content-between mb-4"
              >
                <h6 class="mb-0 font-title text-dark">Movimiento del personal</h6>
              </div>
                <form id="formbuscar">
                  <div class="row mb-3 gap-3">
                    <div class="col-md-10 mb-3">
                      <input type="text" class="form-control bg-claro-gris" id="carnet" placeholder="Ingrese el carnet">
                    </div>
                    <div class="col-md-2 mb-3 d-flex justify-content-end row">
                      <button type="submit" class="btn btn-primary text-white">Buscar</button>
                    </div>
                  </div>

                  <div class="mb-3 gap-1">
                    <div class="col-md-3 mb-3 d-flex gap-3">
                      <input type="checkbox" id="ap" class="form-check-input" >
                      <label for="inputApellido" class="form-label">AP SIRDA:</label>
                    </div>
                    <div class="col-md-3 mb-3 d-flex gap-3">
                      <input type="checkbox" id="añosprovincia" class="form-check-input" >
                      <label for="inputApellido" class="form-label">Años de provincia:</label>
                    </div>
                    <div class="col-md-3 mb-3 d-flex gap-3">
                      <input type="checkbox" id="observados" class="form-check-input">
                      <label for="inputApellido" class="form-label">Observados:</label>
                    </div>
                    <div class="col-md-3 mb-3 d-flex gap-3">
                      <input type="checkbox" id="movimientopersonal" class="form-check-input" checked>
                      <label for="inputApellido" class="form-label">Movimiento del personal:</label>
                    </div>
                    
                  </div>
                  
                </form>
                <div class="table-responsive">
                  <table id="myTable" class="table-rounded display table align-middle table-bordered table-hover mb-0">
                    <thead class="">
                      <tr class="text-dark">
                        <th>GESTION</th>
                        <th>MES</th>
                        <th>DISTRITO</th>
                        <th>SERVICIO</th>
                        <th>ITEM</th>
                      </tr>
                    </thead>
                    <tbody id="medida">
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- Chart End -->
  
                    <%- include('partials/footer/footer') %>
            </div>
            <!-- Content End -->
            <!-- Back to Top -->
            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
            <!-- Back to Top -->
    </div>
    <!-- Content Padre End -->
    <%- include('partials/scripts/scripts') %>
    
    <script src="/js/cyd.js"></script>
</body>

</html>